@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body{
  background-image: url("../img/BG.jpg");
  background-attachment: cover;
  color: white;
  font-family: 'Press Start 2P', cursive;
}
.wrap{
  height: 100%;
}
.score {
  margin: auto 20px 0 20px ;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
.container {
  margin: 0 auto;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo{
  margin-top: -40px;
  width: 300px;
}

#chat{
  width: 500px;
  height: 200px;
  background: #294E68;
  border: 5px solid #FFFFFF;
  border-radius: 10px;
  margin: 20px 0; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  text-align: center;
}

a,
a:hover,
a:active {
  color: white;
  text-decoration: none;
}

.pkballs-container {
  width: 500px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.flip-contain {
  width: 160px;
  height: 160px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokeball {
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.pokeball:hover {
  transform: rotateY(180deg);
}

.front-side {
  position: absolute;
  backface-visibility: hidden;
}

.back-side {
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.pkball {
  height: 140px;
}

.pkball-back {
  height: 120px;
}